<div style="margin-top:150px; font-size:50px; text-align:center">
    <div class="row" style="margin-top:150px">
        <div class="col-md-6">
            <img style="margin-top:100px;" src="~/download.jpg" />
        </div>
        <div class="col-md-6">
            <h1> Architectural Engineering</h1>
        </div>
    </div>
   
    @Html.ActionLink("2015", "Index", "Notices", new { @dpid = ViewData["id"], @sid = "2015" }, null)<br />
    @Html.ActionLink("2016", "Index", "Notices", new { @dpid = ViewData["id"], @sid = "2016" }, null)<br />
    @Html.ActionLink("2017", "Index", "Notices", new { @dpid = ViewData["id"], @sid = "2017" }, null)<br />
    @Html.ActionLink("2018", "Index", "Notices", new { @dpid = ViewData["id"], @sid = "2018" }, null)<br />
</div>
